header{
    background-color: #ff9e9e;
    padding: 0px;
    margin: 0px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titulo-corpo{
    display: flex;
    justify-content: center
}